/* tslint:disable */
@extraImports
import { @helperFunction } from 'postgres-typescript';

export interface Arguments @extendArg {
@argumentFields
}

export interface Result @extendResult {
@resultFields
}

export const @queryName = @helperFunction<Arguments, Result>(__filename);