/* tslint:disable */
@extraImports
import { @helperFunction } from 'postgres-typescript'

interface Arguments @extendArg {
@argumentFields
}

interface Result @extendResult {
@resultFields
}

export const @queryName = @helperFunction<Arguments, Result>(__filename)